fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
pydantic
google-genai
openpyxl
python-multipart
pytest
alembic
pdfplumber
reportlab
paddlepaddle
paddleocr
pymupdf
pillow-heif
beautifulsoup4
